.registration-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.reg{
  background-image: url('/Users/vinodhanm/React/vinodhan-react/src/assets/images/loginback.jpg');
  background-size: cover;
}

.registration-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.registration-form .form-group {
  margin-bottom: 15px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registration-form button {
  width: 97%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: lightgreen;
}
