.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}
.head{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/src/assets/images/mainback.jpg');
  background-size: cover;
}
.card-content {
  text-align: center;
}

.card-content h1 {
  margin-bottom: 20px;
}

.card-content img {
  margin-bottom: 20px;
}
