.footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
    margin-top: 15%;
    width: 100%;
  }
  
  /* Social Links */
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #fff; /* White color for social media links */
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
  }
  
  .social-links a:hover {
    color: #f8f9fa; /* Lighter color on hover */
  }
  