.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-top: 15%;
    background-color: whitesmoke;
    text-align: left;
    
  }
  .fulll{
    background-image: url('/Users/vinodhanm/React/vinodhan-react/src/assets/images/loginback.jpg');
    background-size: cover;
    background-position: center center; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .role{
    width: 50%;
    padding: 1%;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    margin-bottom: 5px;
  }
  
  
  .login-form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-form button {
    padding: 10px;
    width: 70%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  .login-form button:hover {
    background-color: lightgreen;
  }
  .role.select-dropdown {
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Adjust text color as needed */
  }
  
  .role.select-dropdown option {
    background-color: #fff; /* Background color of each option */
    color: #333; /* Text color of each option */
  }
  
  .role.select-dropdown option:hover {
    background-color: #f0f0f0; /* Background color when hovering over an option */
  }
  
  .role.select-dropdown option:checked {
    background-color: #007bff; /* Background color of the selected option */
    color: #fff; /* Text color of the selected option */
  }
  