.graph {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.graph h2 {
    margin-bottom: 10px;
}

.graph canvas {
    width: 100% !important;
    height: auto !important;
}
